<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time %>
  </div>

  <div class="form-group"> <!--accessing the array values from the model-->
    <%= form.label :difficulty_level %>
    <%= form.select :difficulty_level, Recipe::DIFFICULTY,{}, :class => "form-control" %>
  </div><br>

  <div class="form-group"> <!--options to be sent to the database-->
    <%= form.label :food_type %>
    <%= form.select(:food_type_id, options_from_collection_for_select(FoodType.all, :id, :name), {:prompt => 'Please Choose'}, :class => "form control") %>
  </div><br>

  <div class="form-group">
    <%= form.label :food_preference %>
    <%= form.select(:food_preference_id, options_from_collection_for_select(FoodPreference.all, :id, :name), {:prompt => 'Please Choose'}, :class => "form-control") %>
  </div><br>
  
  
  <div class="form-group">
    <%= form.label :cuisine %>
    <%= form.select(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name), {:prompt => 'Please Choose'}, :class => "form control") %>
  </div><br>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients %>
  </div>

  <div class="field">
    <%= form.label :procedure %>
    <%= form.text_area :procedure %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
