<!DOCTYPE html>
<html>
  <head>
    <title>The Cook's Room</title>

      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
      <!--Bootstrap-->
      <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      
      <!--Google Fonts-->
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      

  </head>

  <body>

      <%= render './shared/navbar' %>   
    
      <div class="row">
        <%= render './shared/sidebar' %>

        <div id="recipe" class="col-lg-9">
          <%= yield %>
        </div>
        
      </div>

  </body>

  <footer> 
    <%= render './shared/footer' %>    
  </footer>

</html>